@page "{id:int}"
@model RazorPagesMovie.Pages.Schedules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Schedule.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Schedule.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schedule.PrivateSchedule)
        </dt>
        <dd>
            <text-file>@Html.Raw(@Model.Schedule.PrivateSchedule)</text-file>
         </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Schedule.PublicSchedule)
        </dt>
        <dd>
            <text-file>@Html.Raw(@Model.Schedule.PublicSchedule)</text-file>
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
